<div class="main-content">

    <div class="story-gallery">
        <div class="story story1">
            <img src="assets/images_and_logos/upload.png">
            <p>Post Story</p>
        </div>
        <div class="story story2">
            <img src="assets/images_and_logos/member-1.png">
            <p>Alison</p>
        </div>
        <div class="story story3">
            <img src="assets/images_and_logos/member-2.png">
            <p>Jackson</p>
        </div>
        <div class="story story4">
            <img src="assets/images_and_logos/member-3.png">
            <p>Samona</p>
        </div>
        <div class="story story5">
            <img src="assets/images_and_logos/member-4.png">
            <p>Francis</p>
        </div>
    </div>


    <div class="write-post-container">
        <div class="user-profile">
            <img src="assets/images_and_logos/profile-pic.png">
            <div>
                <p>Rishabh Singh</p>
                <small>Public <i class="fa-solid fa-caret-down"></i></small>
            </div>
        </div>

        <div class="post-input-container">
            <textarea rows="3" placeholder="What's on your mind, John?"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="assets/images_and_logos/live-video.png"> Live Video </a>
                <a href="#"><img src="assets/images_and_logos/photo.png"> Photo/Video </a>
                <a href="#"><img src="assets/images_and_logos/feeling.png"> Feeling/Activity</a>
            </div>

        </div>

    </div>

    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="assets/images_and_logos/member-8.png">
                <div>
                    <p>Alison</p>
                    <span>Today, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

        <p class="post-text">When you like the people you work with, you never want to miss a day of work.</p>

        <img src="assets/images_and_logos/feed-image-1.png" class="post-img">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="assets/images_and_logos/like-blue.png">120</div>
                <div><img src="assets/images_and_logos/comments.png">45</div>
                <div><img src="assets/images_and_logos/share.png">20</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/images_and_logos/member-8.png"> <i class="fa-solid fa-caret-down"></i>
            </div>

        </div>

    </div>


    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="assets/images_and_logos/photo6.png">
                <div>
                    <p>Anthony</p>
                    <span>Yesterday, 11:50 am</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

        <p class="post-text">This weekend is all about chilling with friends, listening to great music and drinking
            delicious cocktails.
            <a href="#">#FriendsForever</a>
        </p>


        <img src="assets/images_and_logos/feed-image-2.png" class="post-img">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="assets/images_and_logos/like.png">89</div>
                <div><img src="assets/images_and_logos/comments.png">16</div>
                <div><img src="assets/images_and_logos/share.png">7</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/images_and_logos/photo6.png"> <i class="fa-solid fa-caret-down"></i>
            </div>

        </div>

    </div>

    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="assets/images_and_logos/member-9.png">
                <div>
                    <p>James Doe</p>
                    <span>June 24 2022</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

        <p class="post-text">
            We are all travelers in the wilderness of the world, and the best we can find in our travels is an honest
            friend.
        </p>

        <img src="assets/images_and_logos/feed-image-3.png" class="post-img">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="assets/images_and_logos/like-blue.png">234</div>
                <div><img src="assets/images_and_logos/comments.png">51</div>
                <div><img src="assets/images_and_logos/share.png">23</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/images_and_logos/member-9.png"> <i class="fa-solid fa-caret-down"></i>
            </div>

        </div>

    </div>

    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="assets/images_and_logos/member-7.png">
                <div>
                    <p>Edward M</p>
                    <span>December 24 2021</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

        <p class="post-text">
            From Virtual to Actual Office... From Zoom to in-person meetings...<br>
            <a href="#">#backtooffice</a>
        </p>

        <img src="assets/images_and_logos/feed-image-5.png" class="post-img">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="assets/images_and_logos/like.png">287</div>
                <div><img src="assets/images_and_logos/comments.png">94</div>
                <div><img src="assets/images_and_logos/share.png">49</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/images_and_logos/member-7.png"> <i class="fa-solid fa-caret-down"></i>
            </div>

        </div>

    </div>

    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="assets/images_and_logos/member-3.png">
                <div>
                    <p>Samona Rose</p>
                    <span>May 11 2021, 12:30 pm</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

        <p class="post-text">
            Work From Home continues, so is the monotony...
        </p>

        <img src="assets/images_and_logos/feed-image-4.png" class="post-img">

        <div class="post-row">
            <div class="activity-icons">
                <div><img src="assets/images_and_logos/like-blue.png">117</div>
                <div><img src="assets/images_and_logos/comments.png">34</div>
                <div><img src="assets/images_and_logos/share.png">0</div>
            </div>
            <div class="post-profile-icon">
                <img src="assets/images_and_logos/member-3.png"> <i class="fa-solid fa-caret-down"></i>
            </div>

        </div>

    </div>



    <button type="button" class="load-more-btn">Load More</button>





</div>